CSS Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* background: transparent; */
}
/* Actual styling */
* {
  margin: 100;
  padding: 100;
  outline: 100;
  /* text-align: center; */
  /* background-color:rebeccapurple; */
}

#field {
  display: grid;
  grid-template: minmax(10px, 1fr) minmax(10px, 1fr) / repeat(4, 1fr);
  /* gap: 20px; */
  background-color:rgb(159, 0, 0);
  
}

li.style {
  /* white-space: pre; */
}

.main, main {
  font-size: 30px;
  background-color:rebeccapurple;
}

button-area {
  text-align: center;
  font-size: 30px;
  background-color:rgb(252, 250, 253) !important;
}