CSS Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: monospace;
  vertical-align: baseline;
  /* background: transparent; */
}
/* Actual styling */
* {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10;
  padding-top: 10;
  outline: 100;
  /* text-align: center; */
  /* background-color:rebeccapurple; */
  background-color:rgb(216, 204, 228);
  vertical-align: baseline;
}

div {
  font-size: large;
  color: black;
  font-family: 'Arial Narrow';
  font-weight: normal;
}
.main-banner {
  font-size: 40px;
  background-color:rgb(98, 203, 205);
}
.main, main {
  font-size: 30px;
  background-color:rgb(162, 120, 203);
}
.button-area {
  text-align: center;
  font-size: 30px;
  background-color:rgb(252, 250, 253) !important;
}